{"query":
  {"bool":
    {"must":
      [
        {{#state}}
          {"match":{
            "state":"{{state}}"
          }}{{#district}},
          {"match":
            {"district":"{{district}}"
          }}{{/district}}
          {{#market}},
          {"match":{
            "market":"{{market}}"
          }}{{/market}}
        {{/state}}
        {{#commodity}}
        {{#state}},{{/state}}
        {"match":
          {"commodity":"{{commodity}}"
        }}
        {{#variety}},
        {"match":{
          "variety":"{{variety}}"
        }}
        {{/variety}}
        {{/commodity}}
        {{#year}}
        {{#state}}
        {{#commodity}},{{/commodity}}
        {{/state}}{{^state}}
        {{#commodity}},{{/commodity}}
        {{/state}}{{^commodity}}
        {{#state}},{{/state}}
        {{/commodity}}
        {"nested":
          {"path":"arrival_date","query":{"bool":{"must":[{"match":{"arrival_date.year":{{year}}}}{{#month}},
          {"match":{"arrival_date.month":{{month}}}}{{/month}}]}}}}{{/year}}{{^year}}{{#month}}{{#state}}{{#commodity}},{{/commodity}}
          {{/state}}{{^state}}{{#commodity}},{{/commodity}}{{/state}}{{^commodity}}{{#state}},{{/state}}{{/commodity}}
          {"nested":{"path":"arrival_date",
          "query":{"bool":{"must":[{{#month}}
          {"match":{"arrival_date.month":{{month}}}}{{/month}}]}}}}
          {{/month}}{{/year}}]}}{{#size}},"size":{{size}}{{#from}},"from":{{from}}
          {{/from}}{{/size}}{{#aggregate}},"aggs":{"aggregate_count":{"cardinality":{"field":"{{aggregate}}"}},"aggregate_terms":
          {"terms":{"field":"{{aggregate}}",{{#term_count}}"size":{{term_count}}{{/term_count}}{{^term_count}}"size":5{{/term_count}}}}}{{/aggregate}}{{#sort_order}},"sort":[{"unix_time":{"order":"{{sort_order}}"}}]{{/sort_order}}}
